<div class="page_title">
    <h1>エントリー企業を追加</h1>
</div>

<div class="form_area">
    <form action="/newcompany" method="POST">
        <input type="text" name="companyName" placeholder="エントリー企業名を追加" required><br>
        <button type="submit">確定</button>
    </form>
</div>
<div class="button_area">
    <a href="/home"><button>戻る</button></a>
</div>