<div>
    <div class="hero">
        <div class="page_title">
            <h1>就活タスクマネージャー</h1>
        </div>
        <div class="instruction">
            <p>
                ES、面接、webテスト、面談…。就活のタスクを管理するのは大変ですよね。エントリー企業数が増えてくると、「あっ、説明会出忘れた！」なんてことも。<br>
                そんなあなたの悩みを解決してくれるのが、この「就活タスクマネージャー」！<br>
                エントリー企業ごとの選考タスク管理に役立ちます。
            </p>
        </div>
    </div>
</div>
<div class="how_to_use">
    <h1>使い方</h1>
    <div class="steps">
        <h2>１．エントリー企業を追加する</h2>
        <img src="/image/howToUse1.png">
        <p>ホーム画面の、「エントリー企業を追加」ボタンをクリック。</p>
        <img src="/image/howToUse2.png">
        <p>エントリー企業を入力し、「確定」</p>
    </div>
    <div class="steps">
        <h2>２．タスクの追加</h2>
        <img src="/image/howToUse3.png">
        <p>エントリー企業を確定すると、タスクの追加画面に移るので、そこで選考タスクを追加する。間違って追加してしまったものは「（タスク名）を削除」から削除できます。</p>
    </div>
    <div class="steps">
        <h2>３．タスク管理</h2>
        <img src="/image/howToUse4.png">
        <p>
            エントリー企業をクリックすると、その企業のタスクの進捗を確認できます。タスクのクリックで、完了/未完了を変更できます。<br>
            そのほかにもタスクの削除や変更、追加もできます。
        </p>
    </div>
</div>