<div>
    <div class="hero">
        <div class="page_title">
            <h1>就活タスクマネージャー</h1>
        </div>
        <div class="instruction">
            <p>
                ES、面接、webテスト、面談…。就活のタスクを管理するのは大変ですよね。エントリー企業数が増えてくると、「あっ、説明会出忘れた！」なんてことも。<br>
                そんなあなたの悩みを解決してくれるのが、この「就活タスクマネージャー」！<br>
                エントリー企業ごとの選考タスク管理に役立ちます。
            </p>
        </div>
    </div>
</div>
<div class="how_to_use">
    <h1>使い方</h1>
    <div class="steps">
        <h2>エントリー企業の追加（１）</h2>
        <img src="https://drive.google.com/uc?export=view&id=185tKQaZxxyI8MsiyIvVW1li_-0IrnCyV">
        <p>ホーム画面の、「エントリー企業を追加」ボタンをクリック。</p>
    </div>
    <div class="steps">
        <h2>エントリー企業の追加（２）</h2>
        <img src="https://drive.google.com/uc?export=view&id=11aczyFmRV47c2XUOcrbN3s5zBdUcI6SV">
        <p>すると、エントリー企業登録ページが表示されるので、エントリー企業を入力し、「確定」ボタンを押します。</p>
    </div>
    <div class="steps">
        <h2>タスクの追加（１）</h2>
        <img src="https://drive.google.com/uc?export=view&id=1wLuuoCoML8UMtJ5LcOq5UllYtJowxush">
        <p>
            すると、企業が登録され、タスク追加画面に表示されます。<br>
            フォームにタスク内容を入力し、「タスクを追加」ボタンを押してください。
        </p>
    </div>
    <div class="steps">
        <h2>タスクの追加（２）</h2>
        <img src="https://drive.google.com/uc?export=view&id=1Yi0gFlpKNYx3at3ISjWGAQJNYE7j0xQ5">
        <p>
            すると、タスクが追加されます。<br>
            追加したいタスクを全て登録したら、ページ下部の「全て完了」ボタンを押してください。
        </p>
    </div>
    <div class="steps">
        <h2>企業・タスク登録完了！</h2>
        <img src="https://drive.google.com/uc?export=view&id=1YYU0YkkkCwrznwwk_JX205Bj8krvMA8p">
        <p>すると、エントリー企業一覧ページにあなたが登録した企業が表示されるようになります！</p>
    </div>
    <div class="steps">
        <h2>タスク管理画面の表示</h2>
        <img src="https://drive.google.com/uc?export=view&id=1-uNAe0v6YAF9fP5jGjY9xGGh7doz4L-A">
        <p>タスク管理したい企業を選択し、クリックorタップ</p>
    </div>
    <div class="steps">
        <h2>タスクの完了/未完了（１）</h2>
        <img src="https://drive.google.com/uc?export=view&id=1ehgGM4Rhy93JmlQH3guuTNQggQnE8MA8">
        <p>
            すると、登録したタスクが一覧で表示されます。<br>
            未完了のタスクには左側に空のチェックボックスが表示されます。<br>
            タスクを完了にしたい場合はタスクが表示されているエリアをクリックorタップしてください。
        </p>
    </div>
    <div class="steps">
        <h2>タスクの完了/未完了（２）</h2>
        <img src="https://drive.google.com/uc?export=view&id=13_bO7pYTpXxNh4swB4B5pWYmPFw2_gZ_">
        <p>
            すると、先ほどまで空だったチェックボックスにチェック（✓）が付くようになります。<br>
            なお、完了したタスクを未完了に戻したいときは、もう一度タスクが表示されているエリアをクリックorタップしてください。
        </p>
    </div>
    <div class="steps">
        <h2>タスクの追加（１）</h2>
        <img src="https://drive.google.com/uc?export=view&id=1EvyXiQ8xOfcGalh3Q_FnkwgFWVHcy0Lu">
        <p>
            また、ページ下部のフォームから新たなタスクの追加も行えます。<br>
            タスク内容を入力し、「タスクを追加」ボタンを押すと…
        </p>
    </div>
    <div class="steps">
        <h2>タスクの追加（２）</h2>
        <img src="https://drive.google.com/uc?export=view&id=1OCYDIYceRT7xdrsB9LOCwLH2LIv2IIKL">
        <p>新たなタスクが追加できました！</p>
    </div>
    <div class="steps">
        <h2>タスクの変更・削除</h2>
        <img src="https://drive.google.com/uc?export=view&id=1G4tSzRHOfUrz-9hNrwdOalJPaCEQ9OM9">
        <p>タスク内容の変更・削除もタスクが表示されているエリアの下のボタンからできます。</p>
    </div>
    <div class="steps">
        <h2>企業名の変更・企業データ削除</h2>
        <img src="https://drive.google.com/uc?export=view&id=1mM7B6VyIw0dV_WPulPmnyZRIrc30BAjj">
        <p>そして、企業名の変更や企業・タスクデータの全削除もページ上部の会社名の下にあるボタンから行えます。</p>
    </div>
</div>