@charset 'utf-8';

body{
    margin: 0;
    background-image: url('../image/bgImg_3.jpg');
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}

button{
    border: black solid 1px;
    border-radius: 10px;
    color: black;
    background-color: white;
}
input{
    border-radius: 10px;
}
li{
    list-style-type: none;
}

input, textarea, select{
    border: black 1px solid;
}

.box_template{
    width: 75%;
    border: black 3px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.7);
}

.page_title{
    color: black;
    text-align: center;
    width: 55%;
    margin: 92px auto 50px;
    background-color: rgb(255, 255, 255, 0.7);
    border: black 3px solid;
    border-radius: 20px;
}

.form_area{
    text-align: center;
    width: 60%;
    margin: 0 auto 30px;
    background-color: rgb(255, 255, 255, 0.7);
    border: black 2px solid;
    border-radius: 20px;
}

.button_area{
    text-align: center;
}

.mouseover{
    background-color: #cc7c74;
    color: white;
}
.mouseover h1{
    color: white;
}

.guide_area{
    text-align: center;
    margin: 0 0 20px;
    color: black;
}
.complete_color{
    background-color: black;
    width: 12px;
}
.uncomplete_color{
    background-color: white;
    border: black 0.5px solid;
    width: 12px;
}

.guide_h1, .guide_h1 a{
    color: black;
    text-align: center;
}

/* レイアウトページ */
header{
    display: flex;
    justify-content: space-between;
    background-color: #cc7c74;
    width: 100%;
    height: 56px;
    position: fixed; top: 0; left: 0;
}
#menuTrigger{
    flex-basis: 25%;
    color: white;
}
#logout{
    flex-basis: 25%;
    text-align: end;
    color: white;
}
header span{
    margin: 16px 0 16px;
}
#login, #signup, #dropdownTrigger{
    color: white;
}
#menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.menu_item{
    text-align: center;
    color: white;
    background-color: #cc7c74;
    flex-basis: 30%;
    border-radius: 20px;
}
.open{
    position: fixed; top: 58px; left: 0;
    width: 100%;
    height: 24px;
    overflow: hidden;
    transition: height .5s;
}
.close{
    position: fixed; top: 58px; left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .5s;
}
.flash_area{
    color: black;
    margin: 92px 0 0;
}

/* topページ */
.instruction{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: black 2px solid;
    border-radius: 15px;
}
.instruction p{
    color: black;
}
.how_to_use h1{
    text-align: center;
}

.steps{
    width: 60%;
    overflow: hidden;
    margin: 0 auto 20px;
    border: black 2px solid;
    border-radius: 15px;
    background-color: white;
}

.steps h2{
    text-align: center;
}

.steps img{
    width: 100%;
}

/* homeページ */
.entry_company{
    margin: 25px auto;
}
.company_name{
    margin: 0;
    color: black;
}

/* progressページ newtasksページ */

.task_container{
    margin-bottom: 100px;
}
.task_display_area{
    margin: 0 auto;
}
.task_display_area a{
    color: black;
}
.task_contents{
    display: flex;
    justify-content: space-between;
}
.iscompleted{
    flex-basis: 15%;
    text-align: center;
    padding: 25px 0;
}
.iscompleted img{
    width: 65%;
}
.task_header{
    flex-basis: 55%;
    overflow: auto;
}

.due_date{
    flex-basis: 30%;
}

.return_area{
    text-align: center;
    margin-bottom: 50px;
}

/*configページ*/
.config_title{
    text-align: center;
    color: black;
}
.user_info{
    display: flex;
}
.currentuser_info{
    flex-basis: 50%;
    padding: 0 0 0 200px;
}
.user_info_modify{
    flex-basis: 50%;
}

@media  screen and (max-width: 599px) {
    h1, p{
        font-size: 1em;
    }
    h2{
        font-size: 0.8em;
    }
    span, label{
        font-size: 0.8em;
    }
    .box_template{
        width: 70%;
    }
    .menu_item{
        font-size: 0.8em;
        margin: auto 0;
    }
    .open{
        height: 38px;
        border-radius: 10px;
    }

    /* config */
    .user_info{
        display: block;
        padding-left: 50px;
    }
    .currentuser_info{
        padding: 0;
    }
}